body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(243 244 246);
}

.navbar{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 1700px;
    padding: 20px;
    border: 2rem;
    box-shadow: 0 8px 6px -6px black;
    background-color: white;

}
.top-nav-menu{
    display: flex;
    gap: 40px;
    padding: 20px;

    
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-style: bold;
    font-size: 18px;
}

.user-avatar {
    border: 1rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    padding: 20px;
    background-color: blue;
    color: white;
    border-radius: 0.5rem;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.user-info {
    display: flex;
    flex-direction: column;
}
#logo-icon {
    border: 1rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    padding: 20px;
    background-color: blue;
    border-radius: 0.5rem;
    color: white;
    width: 10px;
    height: 10px;

}
.main-content {
    width: 1700px;
}

.card {
    border: 1rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    padding: 20px;
    border-radius: 0.5rem;
    background-color: white;

}
.card-header{
    display: flex;
    justify-content: space-between;
}
.truck-info-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

}
.info-item {
    font-weight: 400;
    font-style: bold;
}

.card-actions {
    display: flex;
    gap: 40px;


    
}
.btn {
    border: 1rem;
    border-radius: 0.5rem;
    padding: 10px;
    

}

.btn-primary {
    background-color: blue;
    color: white;
    text-decoration: none;
    margin-top: 2rem;
}

.btn-success {
    background-color: green;
    text-decoration: none;
    color: white;
    margin-top: 2rem;

}
.uploads-section {
    display: flex;
    justify-content: space-between;
    border: 1rem;
    border-radius: 0.5rem;
    
}

.uploads-section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    padding: 20px;
    width: 360px;
    height: 200px;
    
}

.leaves-section {
    border: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    padding: 20px;
    margin-top: 20px;

}

.leave-management-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}


.btn-management {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.annual-leave-section {
    border: 1px solid gray;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    border-style: solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-views {
    background-color: blue;
    padding: 20px;
    border: 0.5rem;
    border-radius: 0.5rem;
    color: white;
}

